<div class="container_wrapper">
  <div class="sidenav">
    <img class="logo" src="../../../assets/logo.jpg" alt="img">
    <div class="list_wrapper">
      <span class="nav_link" [ngClass]="{'active': exerciseA}" (click)="showExercisePage('A')">
        <img class="nav_icon" src="../../../assets/Vector.png" alt="icon">
        <span class="nav_txt">
          A/Exercise
        </span>
      </span>
      <span class="nav_link" [ngClass]="{'active': exerciseB}" (click)="showExercisePage('B')">
        <img class="nav_icon" src="../../../assets/Vector.png" alt="icon">
        <span class="nav_txt">
          B/Exercise
        </span>
      </span>
    </div>
  </div>
  <div class="mainContent">

    <!-- Exercise A page view -->
    <div class="data_wrapper" *ngIf="exerciseA">
      <div class="data_wrapper_title">
        <h2>A/ Exercise for UX+Front+Backend Developers</h2>
        <span>Lorem ipsum</span>
      </div>

      <div class="data_wrapper_chart">
        <div>
          <span class="title">The classifications of assets <span class="regular">v.s</span> their most recent
            capacities</span>
          <line-chart></line-chart>
        </div>
      </div>

      <!-- <app-table [displayedColumns]="['id', 'asset', 'configuration', 'composition']"></app-table> -->
      <div class="data_wrapper_table">
        <div class="container">
          <span class="title">The compositions limitation</span>
          <app-table [data]="tableData1" ></app-table>
          <span class="title">The average composition</span>
          <app-table2></app-table2>
        </div>
      </div>

    </div>

    <!-- Exercise B page view -->
    <div class="data_wrapper" *ngIf="exerciseB">

      <div class="data_wrapper_title">
        <h2>B/ Exercise for Data Wrangler</h2>
        <span>Lorem ipsum</span>
      </div>

      <div class="data_wrapper_chart">
        <div>
          <span class="title">Month-Year <span class="regular">v.s</span> Values</span>
          <bar-chartB></bar-chartB>
        </div>
      </div>

      <div class="data_wrapper_table">
        <div class="container">
          <app-tableB></app-tableB>
        </div>
      </div>

    </div>
  </div>
</div>
